<%= form_with(model: @kindergarten, local: true)do |form| %>
  <% if @kindergarten.errors.any? %>
    <div id="error_explanation">
      <h2><%= @kindergarten.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @kindergarten.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row" id="new-form">
    <div class="col-6" id="kindergarten_profile">
      <h2>概要情報</h2>
      <dl>
        <dt><strong></strong><%= form.label :name %></dt>
        <dd><%= form.text_field :name %></dd>
        <dt><%= form.label :address %></dt>
        <dd><%= form.text_field :address %></dd>
        <dt><%= form.label :phone_number %></dt>
        <dd><%= form.telephone_field :phone_number %></dd>
        <dt><%= form.label :school_area_image %></dt>
        <dd><%= image_tag 'image_icon.png', onClick:"$('#upfile').click()", class: "school_image", size: "80x80" %></dd>
        <dd>アイコンをクリック</dd>
        <dd><%= form.file_field :image, id: "upfile" %></dd>
        <dt><%= form.label :school_floor_image %></dt>
        <dd><%= image_tag 'image_icon.png', onClick:"$('#upfile').click()", class: "school_image", size: "80x80" %></dd>
        <dd>アイコンをクリック</dd>
        <dd><%= form.file_field :cover_image, id: "upfile" %></dd>
      </dl>
      <%= form.fields_for :stations do |f| %>
      <dl>
        <dt><%= f.label :route %></dt>
        <dd><%= f.text_field :route %>線</dd>
        <dt><%= f.label :station_name %></dt>
        <dd><%= f.text_field :station_name %>駅</dd>
        <dt><%= f.label :walk_time %></dt>
        <dd><%= f.text_field :walk_time %>分</dd>
        <%= f.hidden_field :id %>
      </dl>
      <% end %>
    </div>
    <div class="col-6" id="kindergarten_authorization">
      <h2>認可情報</h2>
      <%= form.fields_for :authorization do |f| %>
      <dl>
        <dt><%= f.label :principal %></dt>
        <dd><%= f.text_field :principal %></dd>
        <dt><%= f.label :installation_date %></dt>
        <dd><%= f.date_field :installation_date %></dd>
        <dt><%= f.label :number_of_classes %></dt>
        <dd><%= f.text_field :number_of_classes %></dd>
        <dt><%= f.label :capacity %></dt>
        <dd><%= f.text_field :capacity %></dd>
        <%= f.hidden_field :id %>
        <dt><%= f.label :number_of_students %></dt>
        <dd><%= f.text_field :number_of_students %></dd>
        <dt><%= f.label :school_area %></dt>
        <dd><%= f.text_field :school_area %></dd>
        <dt><%= f.label :school_floor_area %></dt>
        <dd><%= f.text_field :school_floor_area %></dd>
        <%= f.hidden_field :id %>
      </dl>
      <% end %>
    </div>
  </div>
<%= form.submit %>
<% end %>
