<%= form_with(model: @kindergarten, local: true)do |form| %>
  <% if @kindergarten.errors.any? %>
    <div id="error_explanation">
      <h2><%= @kindergarten.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @kindergarten.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2>概要情報</h2>
  <div class="kindergarten_profile">
    <table>
      <tr>
        <th>
          <%= form.label :name %>
        </th>
        <th>
          <%= form.label :address %>
        </th>
        <th>
          <%= form.label :phone_number %>
        </th>
        <th>
          <%= form.label :image %>
        </th>
        <th>
          <%= form.label :緯度 %>
        </th>
        <th>
          <%= form.label :経度 %>
        </th>
      </tr>
      <tr>
        <td>
          <%= form.text_field :name %>
        </td>
        <td>
          <%= form.text_field :address %>
        </td>
        <td>
          <%= form.telephone_field :phone_number %>
        </td>
        <td>
          <%= form.file_field :image %>
        </td>
        <td>
          <%= form.text_field :latitude %>
        </td>
        <td>
          <%= form.text_field :longitude %>
        </td>
      </tr>
    </table>
    <%= form.fields_for :stations do |f| %>
    <table>
      <tr>
        <th><%= f.label :route %></th>
        <th><%= f.label :station_name %></th>
        <th><%= f.label :walk_time %></th>
      </tr>
      <tr>
        <td><%= f.text_field :route %></td>
        <td><%= f.text_field :station_name %></td>
        <td><%= f.text_field :walk_time %>分</td>
        <td><%= f.hidden_field :id %></td>
      </tr>
    </table>
    <% end %>
  </div>
  <!-- authorizationsテーブルを定義し、kindergartensテーブルと1対1で紐付けた後で、コード記入 -->
  <h2>認可情報</h2>

  <%= form.submit %>
<% end %>
