<div class="search_behind">
  <table class="table table-borderless">
    <tr>
      <th>
        <%= search_form_for @q do |f| %>
          <%= f.label :name, "幼 稚 園 名 で 検 索 (部分検索可)" %><br>
          <%= f.search_field :name_cont, placeholder: "園名のみ入力", class: "form" %>
          <%= f.submit "  ", class: "search" %>
        <% end %>
      </th>
      <th>
        <%= search_form_for @q do |f| %>
          <%= f.label :address, "住 所 で 検 索 (部分検索可)" %><br>
          <%= f.search_field :address_cont, placeholder: "(例)中野区", class: "form" %>
          <%= f.submit "  ", class: "search" %>
        <% end %>
      </th>
      <th>
        <br><%= link_to "全 件 表 示", kindergartens_path, class: "btn btn-secondary all-list" %>
      </th>
    </tr>
  </table>
</div>
  <table class="table table-hover">
    <tr class="table-info">
      <th>No</th>
      <th><%= sort_link(@q, :name, "幼 稚 園 名") %></th>
      <th><%= sort_link(@q, :address, "住 所") %></th>
      <th>電 話 番 号</th>
      <th>詳 細</th>
      <th><% if current_user.try(:admin?) %>
          編集
          <% end %>
      </th>
      <th><% if current_user.try(:admin?) %>
          削 除
          <% end %>
      </th>
    </tr>
  <% @kindergartens.each.with_index(1) do |kindergarten, index| %>
    <tr class="table table-hover">
      <td><%= @base_level + index %></td>
      <td><%= kindergarten.name %>幼稚園</td>
      <td><%= kindergarten.address %></td>
      <td><%= kindergarten.phone_number %></td>
      <td><%= link_to kindergarten_path(kindergarten.id) do %>
        <%= image_tag asset_path("info.jpeg") %>
        <% end %>
      </td>
      <td><%= link_to edit_kindergarten_path(kindergarten.id) do %>
          <% if current_user.try(:admin?) %>
            <%= image_tag asset_path("edit_icon.png") %>
          <% end %>
          <% end %>
      </td>
      <td><%= link_to kindergarten_path(kindergarten.id), method: :delete, data: { confirm: '本当に削除していいですか？' } do %>
          <% if current_user.try(:admin?) %>
            <%= image_tag asset_path("delete_icon.png") %>
          <% end %>
          <% end %>
      </td>
    </tr>
  <% end %>
  </table><br><br>
  <%= paginate @kindergartens, class: "page", remote: true %><br>
