<% if current_user.try(:admin?) %>
  <h1>幼稚園一覧(管理者用)</h1>
<% else %>
  <h1>幼稚園一覧</h1>
<% end %>
<%= notice %>
<table>
  <tr>
    <th>
      <%= search_form_for @q do |f| %>
        <%= f.label :name, "幼稚園名で検索(部分検索も可)" %>
        <%= f.search_field :name_cont %>
        <%= f.submit "検索" %>
      <% end %>
    </th>
    <th>
      <%= search_form_for @q do |f| %>
        <%= f.label :address, "住所で検索(部分検索も可)" %>
        <%= f.search_field :address_cont, placeholder: "(例)中野区" %>
        <%= f.submit "検索" %>
      <% end %>
    </th>
  </tr>
</table>
<table>
  <tr>
    <th><%= sort_link(@q, :name, "Name") %></th>
    <th><%= sort_link(@q, :address, "Address") %></th>
    <th>phone_number</th>
    <th>緯度</th>
    <th>経度</th>
  </tr>
<% @kindergartens.each do |kindergarten| %>
  <tr>
    <td><%= link_to kindergarten.name, kindergarten_path(kindergarten.id) %></td>
    <td><%= kindergarten.address %></td>
    <td><%= kindergarten.phone_number %></td>
    <td><%= kindergarten.latitude %></td>
    <td><%= kindergarten.longitude %></td>
    <td><%= link_to 'edit', edit_kindergarten_path(kindergarten.id) if current_user.try(:admin?) %></td>
    <td><%= link_to 'destroy', kindergarten_path(kindergarten.id), method: :delete, data: { confirm: '本当に削除していいですか？' } if current_user.try(:admin?) %></td>
  </tr>
<% end %>
</table>
</div>
<%= link_to "全園表示", root_path %>
<%= link_to "新規登録", new_kindergarten_path %>
