<h1><%= @kindergarten.name %></h1>
<table>
  <tr>
    <th>principal</th>
    <td><%= @kindergarten.authorization.principal %></td>
  </tr>
  <tr>
    <th>installation_date</th>
    <td><%= @kindergarten.authorization.installation_date %></td>
  </tr>
  <tr>
    <th>number_of_classes</th>
    <td><%= @kindergarten.authorization.number_of_classes %>学級</td>
  </tr>
  <tr>
    <th>capacity</th>
    <td><%= @kindergarten.authorization.capacity %>人</td>
  </tr>
  <tr>
    <th>number_of_students</th>
    <td><%= @kindergarten.authorization.number_of_students %>人</td>
  </tr>
  <tr>
    <th>school_area</th>
    <td><%= @kindergarten.authorization.school_area %>㎡</td>
  </tr>
  <tr>
    <th>school_floor_area</th>
    <td><%= @kindergarten.authorization.school_floor_area %>㎡</td>
  </tr>
</table>
<h2>最寄駅</h2>
<% @kindergarten.stations.each do |station| %>
  <table>
    <tr>
      <td><%= station.route %></td>
      <td><%= station.station_name %></td>
      <td>徒歩<%= station.walk_time %>分</td>
    </tr>
  </table>
<% end %>
<%= link_to '幼稚園一覧', kindergartens_path %>
