<h1><%= @kindergarten.name %></h1>

<!-- ------  show画面(認可情報)のコード 始まり ------ -->
<h2>認可情報画面</h2>
<table>
  <tr>
    <th>principal</th>
    <td><%= @kindergarten.authorization.principal %></td>
  </tr>
  <tr>
    <th>installation_date</th>
    <td><%= @kindergarten.authorization.installation_date %></td>
  </tr>
  <tr>
    <th>number_of_classes</th>
    <td><%= @kindergarten.authorization.number_of_classes %>学級</td>
  </tr>
  <tr>
    <th>capacity</th>
    <td><%= @kindergarten.authorization.capacity %>人</td>
  </tr>
  <tr>
    <th>number_of_students</th>
    <td><%= @kindergarten.authorization.number_of_students %>人</td>
  </tr>
  <tr>
    <th>school_area</th>
    <td><%= @kindergarten.authorization.school_area %>㎡</td>
  </tr>
  <tr>
    <th>school_floor_area</th>
    <td><%= @kindergarten.authorization.school_floor_area %>㎡</td>
  </tr>
</table>
<!-- ------  show画面(認可情報)のコード 終わり ------ -->
--------------------------------------------------------------------
<!-- ------  show画面(担当者メモ)のコード 始まり ------ -->
<h2>担当者メモ画面</h2>
<div id="app">
  <contents></contents>
</div>
<%= javascript_pack_tag "todo" %>
<!-- ------  show画面(担当者メモ)のコード 終わり ------ -->
---------------------------------------------------------------------
<!-- ------  show画面(アクセス)のコード 始まり ------ -->
<h2>アクセス画面</h2>
<h3>ここにgoogleマップ</h3>
<% @kindergarten.stations.each do |station| %>
  <table>
    <tr>
      <td><%= station.route %>線</td>
      <td><%= station.station_name %>駅</td>
      <td>徒歩<%= station.walk_time %>分</td>
    </tr>
  </table>
<% end %>
<!-- ------  show画面(アクセス)のコード 終わり ------ -->
---------------------------------------------------------------------
<!-- ------  show画面(外観写真)のコード 始まり ------ -->
<h2>外観写真画面</h2>
<table>
  <tr>
    <th>園地</th>
    <th>園舎</th>
  </tr>
  <tr>
    <td><%= image_tag @kindergarten.image.url %></td>
    <td><%= image_tag @kindergarten.cover_image.url %></td>
  </tr>
</table>
<!-- ------  show画面(外観写真)のコード 終わり ------ -->


<%= link_to '幼稚園一覧', kindergartens_path %>
