<h1><%= @kindergarten.name %></h1>
<table>
  <tr>
    <th>園長</th>
    <td>あ</td>
  </tr>
  <tr>
    <th>設置許可日</th>
    <td>い</td>
  </tr>
  <tr>
    <th>学級数</th>
    <td>い</td>
  </tr>
  <tr>
    <th>定員</th>
    <td>い</td>
  </tr>
  <tr>
    <th>園児数</th>
    <td>い</td>
  </tr>
  <tr>
    <th>園地面積</th>
    <td>い</td>
  </tr>
  <tr>
    <th>園舎延床面積</th>
    <td>い</td>
  </tr>
</table>
<h2>最寄駅</h2>
<% @kindergarten.stations.each do |station| %>
  <table>
    <tr>
      <td><%= station.route %></td>
      <td><%= station.station_name %></td>
      <td><%= station.walk_time %>分</td>
    </tr>
  </table>
<% end %>
<%= link_to '幼稚園一覧', kindergartens_path %>
