<div class="message_image">
  <div class="message_mask">
    <div class="content-title">
      <h1>メ ッ セ ー ジ</h1>
    </div>
    <% if @over_ten %>
      <%= link_to '以前のメッセージ', '?m=all'  %>
    <% end %>
    <div class="ui segment">
      <% @messages.each do |message| %>
        <% if message.body.present? %>
          <% if message.user_id == current_user.id %>
          <div class="item-right">
            <div class="message-content">
              <div class="header">送 信 者：<%= message.user.name %><br>
              送信日時：
              <%= message.message_time %></div>
              <div class="list">
                <div class="item">
                  <i class="right triangle icon"></i><br>
                  <div class="message-right">
                    <strong><%= message.body %></strong>
                  </div><br><br>
                  <% if message.user == current_user %>
                    状態:
                    <%= message.read ? '既 読' : '未 読' %><br>
                    <%= link_to image_tag("delete_icon"), conversation_message_path(@conversation, message), method: :delete, data:{ confirm: '本当に削除していいですか？' } if current_user.try(:admin?) || message.user_id == current_user.id %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% else %>
            <div class="item-left">
              <div class="message-content">
                <div class="header">受 信 者：<%= message.user.name %><br>
                送信日時：
                <%= message.message_time %></div>
                <div class="list">
                  <div class="item">
                    <i class="right triangle icon"></i><br>
                    <strong class="message-left"><%= message.body %></strong><br><br>
                    <%= link_to image_tag("delete_icon"), conversation_message_path(@conversation, message), method: :delete, data:{ confirm: '本当に削除していいですか？' } if current_user.try(:admin?) || message.user_id == current_user.id %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div><br>
    <%= form_with(model: [@conversation, @message]) do |f| %>
     <div class="field">
       <h4><strong><%= f.label :"メ ッ セ ー ジ 入 力 フ ォ ー ム" %></strong></h4><br>
       <%= f.text_area :body, size: "40x4", placeholder: "メッセージを入力してください" %>
     </div>
       <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
     <div class="message-submit">
       <%= f.submit "メッセージを送る", class: "btn btn-info" %>
     </div>
     <% end %>
     <%= link_to "メ  ッ セ ー ジ 一 覧", conversations_path, class: "link" %><br><br>
  </div>
</div>
