<div class="profile_image">
  <div class="profile_mask">
    <div class="content-title">
      <h1>プロフィール</h1><br><br>
      <% if current_user.try(:admin?) %>
      <div class="tab-list">
        <ul class="nav nav-tabs">
          <li class="nav-item"><a href="#ContentA" class="nav-link active" data-toggle="tab">プ ロ フ ィ ー ル</a></li>
          <li class="nav-item"><a href="#ContentB" class="nav-link" data-toggle="tab">認 可 申 請 件 数</a></li>
        </ul><br>
      </div>
      <% end %>
      <div class="tab-content">
        <div class="tab-pane active" id="ContentA">
      <table class="table table-border" id="user-profile">
        <tr>
          <th class="profile-title">ユ ー ザ ー 名</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th class="profile-title">メ ー ル ア ド レ ス</th>
          <th><%= @user.email %></th>
        </tr>
        <tr>
          <th class="profile-title">現在の認可申請件数(担当分)</th>
          <th><%= @user.application_documents.count %> 件</th>
        </tr>
        <tr>
          <th class="profile-title">＜件数内訳＞</th>
          <td></td>
        </tr>
        <tr>
          <th class="profile-title"><span>（未処理・処理中の件数）<span></th>
          <th><span>（<%= @user.application_documents.processing_incomplete.count %> 件）</span></th>
        </tr>
        <tr>
          <th class="profile-title"> （処理済の件数）</th>
          <th>（<%= @user.application_documents.processing_complete.count %> 件）</th>
        </tr>
      </table><br><br><br>
      </div>
      <div class="tab-pane" id="ContentB">
        <div id="pagenate">
        <% if current_user.try(:admin?) %>
        <h3 class="task-title">【 各 ユ ー ザ ー の 認 可 申 請 件 数（管 理 者 用）】</h3><br>
        <h4 class="total-tasks">現 在 の 申 請 総 数：<span><%= @tasks.count %></span> 件</h4><br>
        <div class="task-column">
          <p class="y-column">申 請 件 数</p>
          <%= column_chart @chart %>
          <p class="x-column">ユ ー ザ ー 名</p>
        </div><br><br>
        <table class="table table-bordered" id="task-count">
          <tr>
            <th class="task-content">ユーザー名</th>
            <% @users.each do |user| %>
            <td><%= user.name %></td>
            <% end %>
          </tr>
          <tr>
            <th class="task-content">申 請 件 数</th>
            <% @users.each do |user| %>
            <td><%= user.application_documents.count %> 件</td>
            <% end %>
          </tr>
          <tr>
            <th class="task-content">進 捗 率</th>
            <% @users.each do |user| %>
            <td><%=  ((user.application_documents.processing_complete.count.to_f / user.application_documents.count).round(2) * 100).floor %> ％</td>
            <% end %>
          </tr>
        </table><br><br>
        <%= paginate @users, class: "page", remote: true %>
        <% end %>
        </div>
      </div>
    </div>
    <%= link_to '戻 る', kindergartens_path, class: "link" %><br><br><br>
  </div>
</div>
