<div class="profile_image">
  <div class="profile_mask">
    <div class="content-title">
      <h1>プロフィール</h1>
      <table class="table table-striped" id="user-profile">
        <tr>
          <th width="50%">ユ ー ザ ー 名</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>メ ー ル ア ド レ ス</th>
          <th><%= @user.email %></th>
        </tr>
        <tr>
          <th>認可申請処理件数</th>
          <th><%= @user.application_documents.count %> 件</th>
        </tr>
        <tr>
          <th>＜処理件数内訳＞</th>
          <td></td>
        </tr>
        <tr>
          <th><span>（未処理・処理中件数）<span></th>
          <th><span>（<%= @user.application_documents.deadline.count %> 件）</span></th>
        </tr>
        <tr>
          <th> （処理済件数）</th>
          <th>（<%= @user.application_documents.processing_complete.count %> 件）</th>
        </tr>
      </table>
    </div><br><br>
    <%= link_to '戻 る', kindergartens_path, class: "link" %><br><br>
  </div>
</div>
