<div class="profile_image">
  <div class="profile_mask">
    <div class="content-title">
      <h1>プロフィール</h1><br><br>
      <table class="table table-border" id="user-profile">
        <tr>
          <th class="profile-title" width="50%">ユ ー ザ ー 名</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th class="profile-title">メ ー ル ア ド レ ス</th>
          <th><%= @user.email %></th>
        </tr>
        <tr>
          <th class="profile-title">現在の認可申請件数(担当分)</th>
          <th><%= @user.application_documents.count %> 件</th>
        </tr>
        <tr>
          <th class="profile-title">＜件数内訳＞</th>
          <td></td>
        </tr>
        <tr>
          <th class="profile-title"><span>（未処理・処理中の件数）<span></th>
          <th><span>（<%= @user.application_documents.processing_incomplete.count %> 件）</span></th>
        </tr>
        <tr>
          <th class="profile-title"> （処理済の件数）</th>
          <th>（<%= @user.application_documents.processing_complete.count %> 件）</th>
        </tr>
      </table><br><br><br>
      <% if current_user.try(:admin?) %>
      <div class="admin-border"></div>
      <h3 class="task-title"><b>【各ユーザーの認可申請件数(管理者用)】</b></h3><br>
      <%= pie_chart @chart, class: "pie" %><br><br>
      <table class="table table-bordered" id="task-count">
        <tr>
          <th class="task-content" width="15%">ユーザー名</th>
          <% @users.each do |user| %>
          <td><%= user.name %></td>
          <% end %>
        </tr>
        <tr>
          <th class="task-content" width="15%">件 数</th>
          <% @users.each do |user| %>
          <td><%= user.application_documents.count %>件</td>
          <% end %>
        </tr>
      </table><br><br>
      <%= paginate @users, class: "page" %>
      <% end %>
    </div>
    <%= link_to '戻 る', kindergartens_path, class: "link" %><br><br><br>
  </div>
</div>
