<%= form_with(model: @application_document, local: true) do |f| %>
  <% if @application_document.errors.any? %>
    <div class="error_explanation">
      <h2><%= @application_document.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @application_document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <dl class="kindergarten-application">
    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name %> 幼 稚 園</dd>
    <dt><%= f.label :title %></dt>
    <dd><%= f.select :title, [[""],["設置認可申請"],["園長選任届"],["位置変更届"],["園地・園舎変更届"],["資産総額変更届"],["廃園届"]] %></dd>
    <dt><%= f.label :application_date %></dt>
    <dd><%= f.date_field :application_date %></dd>
    <dt><%= f.label :processing_deadline %></dt>
    <dd><%= f.date_field :processing_deadline %></dd>
    <dt><%= f.label :processing %></dt>
    <dd><%= f.select :processing, ApplicationDocument.processings.keys.to_a, include_blank: true %></dd>
  </dl>
  <div class="form-submit">
    <%= f.submit %>
  </div>
<% end %>
