<h2>申請状況一覧</h2>
<% if @complete_documents.present? && current_user.try(:admin?) %>
  <div class="alert alert-warning">
    <span><h4 class="blinking">【管理者へのアラーム】</h4></span>
    <h5>以下のとおり、処理済の申請案件があるので、削除もしくは、アーカイブへ移動してください！</h5>
    <table>
      <tr>
        <th>幼稚園名</th>
        <th>申請認可名</th>
        <th>申請処理期限</th>
        <th>申請処理者</th>
        <th>処理状況</th>
      </tr>
      <% @complete_documents.each do |complete_document| %>
        <tr>
          <td><%= complete_document.name %>幼稚園</td>
          <td><%= complete_document.title %></td>
          <td><%= l complete_document.processing_deadline %></td>
          <td><%= complete_document.user.name %></td>
          <td><%= complete_document.processing %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<% if @around_deadlines.present? %>
  <div class="alert alert-danger">
    <span><h4 class="blinking">【申請処理アラーム】</h4></span>
    <h5>本日(<%= l Date.current %>)、申請処理期限まで３日以内もしくは、過ぎている申請案件がありますので、申請処理者は速やかに対応願います！</h5>
    <table>
      <tr>
        <th>幼稚園名</th>
        <th>申請認可名</th>
        <strong><th>申請処理期限</th></strong>
        <th>申請処理者</th>
      </tr>
      <% @around_deadlines.each do |deadline| %>
      <tr>
        <td><%= deadline.name %>幼稚園</td>
        <td><%= deadline.title %></td>
        <td><%= l deadline.processing_deadline %></td>
        <td><%= deadline.user.name %></td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>
<table>
  <tr>
    <th>
      <%= search_form_for @q do |f| %>
      <%= f.label :name, "学校名で検索(部分一致も可)" %>
      <%= f.search_field :name_cont %>
      <%= f.submit %>
      <% end %>
    </th>
    <th>
      <%= search_form_for @q do |f| %>
      <%= f.label :title, "申請名で検索(部分一致も可)" %>
      <%= f.search_field :title_cont %>
      <%= f.submit %>
      <% end %>
    </th>
  </tr>
</table>
<table>
  <tr>
    <th>No</th>
    <th><%= sort_link(@q, :name, "幼稚園名") %></th>
    <th><%= sort_link(@q, :title, "申請認可名") %></th>
    <th><%= sort_link(@q, :application_date, "申請日") %></th>
    <th><%= sort_link(@q, :processing_deadline, "申請処理期限") %></th>
    <th><%= sort_link(@q, :user_id, "申請処理者") %></th>
    <th><%= sort_link(@q, :processing, "処理状況") %></th>
  </tr>
  <% @application_documents.each_with_index do |application_document, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= application_document.name %>幼稚園</td>
    <td><%= application_document.title %></td>
    <td><%= l application_document.application_date %></td>
    <td><%= l application_document.processing_deadline %></td>
    <td><%= application_document.user.name %></td>
    <td><%= application_document.processing %></td>
    <td><%= link_to t("link.Edit"), edit_application_document_path(application_document.id) if current_user.try(:admin?) || current_user.id == application_document.user_id %></td>
    <td><%= link_to t("link.Destroy"), application_document_path(application_document.id), method: :delete, data: { confirm: '本当に削除していいですか？' } if current_user.try(:admin?) || current_user.id == application_document.user_id %></td>
  </tr>
  <% end %>
</table>
<%= paginate @application_documents %>
<%= link_to '全件表示', application_documents_path %>
<%= link_to '申請登録へ', new_application_document_path %>
<%= link_to '幼稚園一覧へ', kindergartens_path %>
