<h2>アーカイブ一覧</h2>
<table>
  <tr>
    <th>
      <%= search_form_for @q do |f| %>
        <%= f.label :name, "学校名で検索(部分一致も可)" %>
        <%= f.search_field :name_cont %>
        <%= f.submit %>
      <% end %>
    </th>
    <th>
      <%= form_with(model: @archive, local: true, url: archives_path, method: :get) do |f| %>
        <%= f.label :title, "申請認可名で検索(部分一致も可)" %>
        <%= f.select :title, [[""],["設置認可申請"],["園長選任届"],["位置変更届"],["園地・園舎変更届"],["資産総額変更届"],["廃園届"]] %>
        <%= f.hidden_field :search, value: 'true' %>
        <%= f.submit '検索' %>
      <% end %>
    </th>
  </tr>
</table>
<table>
  <tr>
    <th>No</th>
    <th>幼稚園名</th>
    <th>申請認可名</th>
    <th><%= sort_link(@q, :installation_date, "認可日")%></th>
    <th><%= sort_link(@q, :status_of_use, "使用状況")%></th>
  </tr>
  <% @archives.each_with_index do |archive, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= archive.name %>幼稚園</td>
    <td><%= archive.title %></td>
    <td><%= archive.installation_date %></td>
    <td><%= archive.status_of_use %></td>
    <td><%= link_to '編集', edit_archive_path(archive.id) %></td>
    <td><%= link_to '削除', archive_path(archive.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  <% end %>
  </tr>
</table>
<%= paginate @archives %>
<%= link_to '全件表示', archives_path %>
<%= link_to 'アーカイブ登録', new_archive_path %>
<%= link_to '幼稚園一覧', kindergartens_path %>
