<!DOCTYPE html>
<html>
  <head>
    <title>ASAPBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% unless action_name == "top" %>
      <header>
        <div class="sticky-top">
          <div class="sticky_mask">
          <h2>ASAP BOX</h2>
          <p id="Realtime"></p>
          <% if user_signed_in? %>
            <span>現在のログインユーザー：<strong class="login-user"><%= current_user.name %></strong></span>
            <span class="tip">
              <%= link_to user_path(current_user.id) do %>
                <%= image_tag asset_path("profile-icon.png"), size: "39x39" %>
              <% end %>
              <!-- <div class="tiparea">プロフィール</div> -->
              <p class="tiparea">プロフィール</p>
            </span>
            <span><%= link_to "認 可 幼 稚 園 一 覧", kindergartens_path, class: 'header_link btn btn-dark' %></span>
            <span><%= link_to "ロ グ ア ウ ト", destroy_user_session_path, method: :delete, class: 'header_link btn btn-primary' %></span>
          <% else %>
            <%= link_to "アカウント登録", new_user_registration_path, class: 'header_link btn btn-danger' %>
            <%= link_to "ロ グ イ ン", new_user_session_path, class: 'header_link btn btn-info' %>
            <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, class: 'header_link btn btn-warning', method: :post %>
          <% end %>
          </div>
        <div class="alert_message">
          <% if notice %>
            <p class="alert alert-notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-error"><%= alert %></p>
          <% end %>
        </div>
      </div>
      </header>
    <% end %>
    <%= yield %>
    <footer>
      <div class="footer_mask">
        <p>Copyright(C) ASAP BOX 製作委員会. All Rights Researved.</p>
      </div>
    </footer>
  </body>
</html>
